h1,
h2,
h3,
h4,
h5,
h6,
ul,
body {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}


/*Общие стили:*/

*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: 'Proxima Nova', sans-serif;
}

button {
    border: none;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}


/*Убираем дефолтные чекбоксы/радиобатоны, чтобы потом нарисовать их через псевдоэлементы*/

input[type="checkbox"],
input[type="radio"] {
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

:root {
    --white: #ffffff;
    --orange: #ff8b00;
    --purple: #7050e5;
    --lightGray: #878787;
    --gray: #3d3d3d;
    --black: #252525;
    --footerbg: #363636;
    --defaultTransition: 0.3s ease all;
}

.info-slider {
    background-image: url("/img/purple_bg.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

.main-button {
    background: var(--orange);
    color: var(--white);
    font-family: 'Proxima Nova';
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    color: var(--white);
    text-transform: uppercase;
}